<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/vue/vue.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/qiniu/qiniu.min.js"></script>
    <script type="text/javascript" src="/js/qiniu/lrz.all.bundle.js"></script>
    <script type="text/javascript" src="/js/qiniu/plupload.full.min.js"></script>
</head>
<body>

<div id="dataForm" class="loginClass">
    <table id="allData" class="table table-bordered">
        <caption>所用用户数据</caption>
        <thead>
        <tr>
            <td>姓名</td>
            <td>登录名</td>
            <td>电话</td>
            <td>状态</td>
            <td>uid</td>
            <td>头像</td>
            <td>修改</td>
        </tr>
        </thead>
        <thead id="data" v-for="site in data.data">
        <tr>
            <td>{{ site.name }}</td>
            <td>{{ site.username }}</td>
            <td>{{ site.phone }}</td>
            <td>{{ site.state }}</td>
            <td>{{ site.uid }}</td>
            <td><img class="img-responsive" style="height: 30px;width: 30px" v-bind:src="site.image" alt="无图片"></td>
            <td>
                <button v-on:click="getByUid(site.uid)">修改</button>
            </td>
        </tr>
        </thead>

    </table>
    <div style="text-align: center">
        <ul class="pagination">
            <li v-if="allCount>1" v-model="1"><a v-on:click="getAll(0)">&laquo;</a></li>
            <li v-for="item in allCount"><a v-on:click="getAll(item-1)">{{item}}</a></li>
            <li v-if="allCount>1" v-model="allCount"><a v-on:click="getAll(allCount-1)">&raquo;</a></li>
        </ul>
    </div>

    <table id="singleData" class="table table-bordered">
        <caption>单个用户数据</caption>
        <thead>
        <tr>
            <td>姓名</td>
            <td>登录名</td>
            <td>电话</td>
            <td>状态</td>
            <td>uid</td>
            <td>头像</td>
            <td>修改</td>
        </tr>
        </thead>
        <thead id="user">
        <tr>
            <td><input class="form-control" type="text" v-model="user.name"></td>
            <td><input class="form-control" type="text" v-model="user.username"></td>
            <td><input class="form-control" type="text" v-model="user.phone"></td>
            <td><input class="form-control" type="text" v-model="user.state"></td>
            <td>{{user.uid}}</td>
            <td><input id="select_file" class="" type="file"><img id="img_" class="img-responsive" style="width: 30px;height: 30px" src=""></td>
            <td>
                <button v-on:click="updateMethod(user.uid,user.phone,user.name,user.username,user.state,user.image)">提交</button>
            </td>
        </tr>
        </thead>
    </table>

</div>
</body>
<script type="text/javascript">
    var currentPage = 0;
    var quNiuToken = '';
    var yuMing = 'oswobiwir.bkt.clouddn.com';
    var vue = new Vue({
        mounted() {
            this.getQiNiuToken();
            this.getAllUser();
            var page = 0;
            this.getAll(page);
        },
        el: '#dataForm',
        data: {
            data: 'data',
            user: 'user',
            allCount: 0,
            currentPage: ''
        },
        methods: {
            getQiNiuToken: function () {
                $.ajax({
                    type: 'GET',
                    url: '/qiNiu',
                    cache: false,
                    success: function (data) {
                        quNiuToken = data;
                    }
                })
            },
            getAllUser: function () {
                $.ajax({
                    type: 'GET',
                    url: '/allUserCount',
                    cache: false,
                    success: function (data) {
                        vue.allCount = data;
                    }
                })
            },
            getAll: function (page) {
                currentPage = page;
                $.ajax({
                    type: 'GET',
                    url: '/user/userList',
                    dataType: 'json',
                    data: {page: page, size: 5},
                    cache: false,
                    success: function (data) {
                        vue.data = data;
                    }
                })
            },
            getByUid: function (uid) {
                $.ajax({
                    type: 'GET',
                    url: '/user/oneUser',
                    dataType: 'json',
                    data: {uid: uid},
                    cache: false,
                    success: function (data) {
                        vue.user = data;
                    }
                })
            },
            updateMethod: function (uid, phone, name, username, state,image) {
                var image = $("#img_")[0].src;
                $.ajax({
                    type: 'GET',
                    url: '/user/updateOne',
//                    dataType:'json',
                    data: {uid: uid, phone: phone, name: name, username: username, state: state,image:image},
                    success: function (data) {
                        vue.$nextTick(function () {
                            vue.getAll(currentPage);
                        })
                    }
                })
            }
        }
    })

    var select_file = document.getElementById("select_file");
    select_file.addEventListener('change',function () {
        if($('#select_file').val() !=''){
            var that = this;
            lrz(that.files[0],{width: 800}).then(function (rst) {
                var formData = new FormData();
                formData.append("token",quNiuToken);
                formData.append("file",rst.file);
                $.ajax({
                    type: "POST",
                    url: "http://up-z1.qiniu.com/",
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (XMLHttpRequest) {

                    },
                    success: function (data) {
                        if ("1" == data.error) {
                            return false;
                        } else {
                            var sourceLink='http://'+yuMing+'/'+data.hash;
                            document.getElementById("img_").src = sourceLink;
                            return false;
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { //上传失败
                        //hideLoader();
                        //alert('操作错误');
                    }
                })
            })
        }

    })
</script>
</html>