<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roy.study.mapper.UserMapper">


    <select id="findByPhone" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from sys_user where phone = #{phone}
    </select>

</mapper>